[Unit]
Description=LeetCode Motivation Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/LeetcodeMotivation/backend

Environment="DB_USERNAME="
Environment="DB_PASSWORD="
Environment="DB_URL=jdbc:postgresql://"
Environment="SPRING_PROFILES_ACTIVE=prod"
Environment="CORS_ALLOWED_ORIGINS=https://"

ExecStart=java -Xmx500m -Duser.timezone=America/Los_Angeles -jar ./build/libs/leetcode-motivation-service-0.1.jar

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target